/*
#bf5e59
#62cbd1
#9ea9b2
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  text-decoration: none;
}
h1, h2, h3 {
  font-weight: 600;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}

body {
  background-color: #62cbd1;
  width: 100%;
}

header {
  position:fixed;
  background-color: #bf5e59;
  color: #fff;
  width: 100%;
  height: 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.5em;
  letter-spacing: 0.1em;
  z-index: 1;
}

header a {
  float: left;
  padding: 10px 10px 10px 50px;
  font-weight: 600;
}
header nav {
  overflow: hidden;
  text-align: center;
}
nav a {
  display: inline-block;
  padding: 0.8em;
  margin: 0 0em;
  max-width: 10em;
  letter-spacing: 0.2em;
}
a:visited {
  color: inherit;
}
nav a:hover {
  color: #68f7ff;
}
nav .home {
  padding: 0.35em 1em;
  max-width: 25%;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  color: #68f7ff;
  text-align: left;
}
main {
  padding-top: 4.5em;
  width: 80%;
  max-width: 1400px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.home img{
  height: auto;
  margin: 0 0 20px 0;
}
.titleImage{
  padding-top: 40%;
  background-image: url(../img/austin-neill-00.jpg);
  background-size: 100%;
  width: 100%;
  position: relative; /* If you want text inside of it */
}
.contactImage{
  padding-top: 40%;
  background-image: url(../img/milan-de-clercq-00.jpg);
  background-size: 100%;
  width: 100%;
  position: relative; /* If you want text inside of it */
}
.contactImage h1 {
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #fff,
    0px -1px 5px #fff;
}
h1 {
  text-align: center;
  letter-spacing: 0.2em;
    font-size: 3em;
}
.titleImage h1 {
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #fff,
    0px -1px 5px #fff;
}
.titleImage h3 {
  text-align: center;
  font-size: 1.6em;
  margin: 20px 0 30px 0;
  letter-spacing: 0.15em;
  position: absolute;
  top: 45%;
  left: 0;
  bottom: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #fff,
    0px -1px 5px #fff;
}
.home table {
  border-spacing: 20px;
  padding-bottom: 20px;
}
.home td {
  height: auto;
  padding: 1em;
  width: 25%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  vertical-align: text-top;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
.home td p {
  font-size: 1.2em;
}
h2 {
  text-align: center;
  padding-bottom: 0.4em;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  font-size: 1.6em;
  line-height: 1.5em;
}

ul {
  padding: 0px 40px 40px 40px;
  list-style-type: square;
  font-size: 1.2em;
}
li {
  margin: 10px 0;
}
.gallery h1 {
  margin: 40px 0 20px 0;
}
.galleryGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
/* Style the Image Used to Trigger the Modal */
.galleryImage {
  width: 100.0%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galleryImage:hover {opacity: 0.7;}
.galleryImage:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  max-height: 90%;
  display: block;
  width: auto;
}

/* caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Add Animation - Zoom in the Modal */
.modal {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
&.out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.attractions .left {
  display: inline-block;
  margin: 2% 1% 2% 2%;
}
.attractions .right {
  float: right;
  margin: 2% 2% 2% 1%;
}
.attractions .textTile {
  width: 37%;
  text-align: center;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.attractions .imageTile {
  width: 57%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.attractions h1 {
  margin: 40px 0 20px 0;
}
.textTile a {
  width: auto;
  font-size: 2em;
  display: inline-block;
  margin: 30px 30px 0 30px;
  padding: 5px 10px;
  font-weight: 400;
}
.textTile a:hover {
  color: #62cbd1;
  text-decoration: underline;
}
.textTile p {
  text-align: left;
  margin: 30px;
}
.contact h1 {
  margin: 40px 0 20px 0;
}
.contact h6 {
  width: 60%;
  margin: 40px auto;
  font-size: 1.5em;
}
.contact a {
  text-decoration: underline;
  color: #000;
  display: inline-block;
  margin: 5px 0 5px 0;
}
.contact a:hover {
  color: #62cbd1;
}
.gCal {
  display: block;
  margin: 20px auto 20px auto;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  float: left;
  width: 100%;
  background-color: #444;
  color: #eee;
  padding : 30px 0 5px 0;
  margin-top: -4px;
  text-align: center;
}
footer p{

}
.fb-page {
  margin-bottom: 10px;
  border: 2px solid white;
  border-bottom: 3px solid white;
}
