* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  text-decoration: none;
}
h1, h2, h3, h4 {
  font-weight: 600;
  color: #2d2d2d;
}
h1 {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 1.6em;
  line-height: 1.5em;
}
h3 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.4em;
}
h4 {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}
h5 {
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 0.9em 0;
}
h6 {
  color: #2d2d2d;
}
p {
  color: #2d2d2d;
}
body {
  background-color: #03d6d6;
  width: 100%;
}
header {
  color: #f0f0f0;
  position:fixed;
  background-color: #CE4545;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
.navgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav a, nav a:visited{
  color: #f0f0f0;
}
nav a.home, nav a.home:visited {
  color: #03d6d6;
}
#logo {
  display: none;
}
nav a:visited {
  color: inherit;
}
nav a:hover,
nav a:focus {
  color: #03d6d6;
}
.navFiller {
  padding-top: 55
  h5 {
    font-size: 1.6em;
    padding: 0.6em 0;
  }px;
  background-color: #CE4545;
}
#browserUpdate {
  position: relative;
  background-color: #e91e63;
  width: 100%;
  padding: 15px 10% 10px 5%;
  font-size: 1.1em;
}
#browserUpdate p {
  color: #e0e0e0;
  text-align: center;
}
#browserUpdate a {
  text-decoration: underline;
  color: #e0e0e0;
}
#browserUpdate a:hover,
#browserUpdate a:focus {
  color: #fff;
  text-shadow: 0px -1px 3px #fff;
}
#browserUpdate span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: 400;
  transition: 0.3s;
  color: #e0e0e0;
}
#browserUpdate span:hover,
#browserUpdate span:focus {
  color: #fff;
  text-shadow: 0px -1px 3px #fff;
  cursor: pointer;
}
main {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  font-size: 0.9em;
  width: 100%;
  background-color: #343434;
  color: #eee;
  padding : 30px 0 5px 0;
  margin-top: -5px;
  text-align: center;
}
footer p {
  color: #e0e0e0;
}
.fb-box {
  margin: 0 auto 10px auto;
  width: 300px;
  max-width: 360px;
  display: block;
  border-bottom: 1px solid white;
}
.home img{
  height: auto;
  margin: 0 0 20px 0;
}
.titleImage{
  padding-top: 80%;
  background-image: url(../img/titleSmall.jpg);
  background-size: 100%;
  position: relative; /* If you want text inside of it */
}
.contactImage{
  padding-top: 80%;
  background-image: url(../img/contactSmall.jpg);
  background-size: 100%;
  position: relative; /* If you want text inside of it */
}
.titleImage h1 {
  padding: 0 40px 0 40px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #fff,
    0px -1px 5px #fff;
}
.titleImage h4 {
  padding: 0 20px 0 20px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #fff,
    0px -1px 5px #fff;
}
.contactImage h1 {
  padding: 0 40px 0 40px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-shadow:
    0px 1px 5px #fff,
    0px -1px 5px #fff;
}
.homeGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.homeTile {
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding: 20px;
  border-radius: 5px;
  background-color: #fcfcfc;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.amenitiesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px 20px;
  padding: 10px 40px 20px 40px;
}
.amenitiesGrid p {
  font-size: 1.2em;
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
}
.gallery h1 {
  padding: 40px 0 20px 0;
}
.galleryGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.galleryImage {
  width: 100.0%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.galleryImage:hover {opacity: 0.7;}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  max-height: 90%;
  display: block;
  width: auto;
}
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}
.modal {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
&.out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.close {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.attractions h1 {
  padding: 40px 10px 20px 10px;
}
.attractionsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  grid-gap: 20px;
}
.attractionsTile {
  height: auto;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: #fcfcfc;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.attractionsTile a {
  font-size: 2em;
  display: inline-block;
  margin: 30px 50px 0 50px;
  font-weight: 400;
  text-decoration: underline;
  color: #2d2d2d;
}
.attractionsTile a:hover {
  color: #03d6d6;
  text-decoration: underline;
}
.attractionsTile p {
  font-size: 1.4em;
  text-align: left;
  padding: 30px;
}
.contact h6 {
  width: 90%;
  margin: 10px auto;
  font-size: 1.25em;
}
.contact a {
  text-decoration: underline;
  display: inline-block;
  margin: 5px 0 5px 0;
  color: #2d2d2d;
}
.contact a:hover {
  color: #03d6d6;
}
.gCal {
  display: block;
  margin: 20px auto 0 auto;
  width: 100%;
}
@media only screen and (min-width: 720px) and (max-width:1023px) {
  h1 {
    font-size: 2.7em;
  }
  h4 {
    font-size: 1.6em;
    letter-spacing: 0.15em;
  }
  h5 {
    font-size: 1.6em;
    padding: 0.6em 0;
    letter-spacing: 0.2em;
  }
  .navgrid {
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
  }
  nav a.home h5 {
    text-align: left;
    margin: 0 0 0 65px;
  }
  #logo {
    display: block;
    float: left;
    margin: auto 0 auto 10px;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 10px;
  }
  .navFiller {
    padding-top: 65px;
  }
  #browserUpdate {
    padding: 15px 10% 10px 5%;
  }
  main {
    width: 80%;
  }
  footer {
    font-size: 1em;
  }
  .fb-box {
    width: 95%;
  }
  .titleImage{
    padding-top: 40%;
    background-image: url(../img/titleImage.jpg);
  }
  .contactImage{
    padding-top: 40%;
    background-image: url(../img/contactImage.jpg);
  }
  .titleImage h1 {
    padding: 0 0px 0 0px;
    top: 20%;
  }
  .contactImage h1 {
    padding: 0 0px 0 0px;
    top: 30%;
  }
  .homeGrid {
    grid-template-columns: 1fr 1fr;
  }
  .amenitiesGrid {
    grid-template-columns: 1fr 1fr;
  }
  .galleryGrid {
      grid-template-columns: 1fr 1fr;
  }
  .contact h6 {
    width: 70%;
    margin: 40px auto;
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1024px) and (max-width:1439px) {
  h1 {
    font-size: 3em;
  }
  h4 {
    font-size: 1.6em;
    letter-spacing: 0.15em;
  }
  h5 {
    font-size: 1.8em;
    padding: 0.6em 0;
    letter-spacing: 0.2em;
  }
  .navgrid {
      grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr;
  }
  nav a.home h5 {
    text-align: left;
    margin: 0 0 0 80px;
  }
  #logo {
    display: block;
    float: left;
    margin: auto 0 auto 10px;
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 10px;
  }
  .navFiller {
    padding-top: 73px;
  }
  #browserUpdate {
    padding: 15px 10% 10px 10%;
    font-size: 1.2em;
  }
  main {
    width: 80%;
  }
  footer {
    font-size: 1em;
  }
  .fb-box {
    width: 95%;
  }
  .titleImage{
    padding-top: 40%;
    background-image: url(../img/titleImage.jpg);
  }
  .contactImage{
    padding-top: 40%;
    background-image: url(../img/contactImage.jpg);
  }
  .titleImage h1 {
    padding: 0;
    top: 20%;
  }
  .contactImage h1 {
    padding: 0;
    top: 30%;
  }
  .titleImage h4 {
    padding: 0;
    top: 50%;
  }
  .homeGrid {
    grid-template-columns: 1fr 1fr;
  }
  .amenitiesGrid {
    grid-template-columns: 1fr 1fr;
  }
  .galleryGrid {
      grid-template-columns: 1fr 1fr;
  }
  .attractionsGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .L1{ grid-area: 1 / 1 / 2 / 3; }
  .L2{ grid-area: 2 / 1 / 3 / 4; }
  .L3{ grid-area: 3 / 1 / 4 / 3; }
  .L4{ grid-area: 4 / 1 / 5 / 4; }
  .L5{ grid-area: 5 / 1 / 6 / 3; }
  .R1{ grid-area: 1 / 3 / 2 / 6; }
  .R2{ grid-area: 2 / 4 / 3 / 6; }
  .R3{ grid-area: 3 / 3 / 4 / 6; }
  .R4{ grid-area: 4 / 4 / 5 / 6; }
  .R5{ grid-area: 5 / 3 / 6 / 6; }
  .contact h6 {
    width: 60%;
    margin: 40px auto;
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1440px){
  h1 {
    font-size: 3em;
  }
  h4 {
    font-size: 1.6em;
    letter-spacing: 0.15em;
  }
  h5 {
    font-size: 1.8em;
    padding: 1em 0;
    letter-spacing: 0.2em;
  }
  .navgrid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  nav a.home h5 {
    text-align: left;
    margin: 0 0 0 110px;
  }
  #logo {
    display: block;
    float: left;
    margin: auto 0 auto 10px;
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 10px;
  }
  .navFiller {
    padding-top: 96px;
  }
  #browserUpdate {
    padding: 15px 10% 10px 10%;
    font-size: 1.2em;
  }
  main {
    width: 80%;
  }
  footer {
    font-size: 1em;
  }
  .fb-box {
    width: 95%;
  }
  .titleImage{
    padding-top: 40%;
    background-image: url(../img/titleImage.jpg);
  }
  .contactImage{
    padding-top: 40%;
    background-image: url(../img/contactImage.jpg);
  }
  .titleImage h1 {
    padding: 0;
    top: 30%;
  }
  .titleImage h4 {
    padding: 0;
  }
  .contactImage h1 {
    padding: 0;
    top: 30%;
  }
  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  .amenitiesGrid {
    grid-template-columns: 1fr 1fr;
  }
  .galleryGrid {
      grid-template-columns: 1fr 1fr 1fr;
  }
  .attractionsGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .L1{ grid-area: 1 / 1 / 2 / 3; }
  .L2{ grid-area: 2 / 1 / 3 / 4; }
  .L3{ grid-area: 3 / 1 / 4 / 3; }
  .L4{ grid-area: 4 / 1 / 5 / 4; }
  .L5{ grid-area: 5 / 1 / 6 / 3; }
  .R1{ grid-area: 1 / 3 / 2 / 6; }
  .R2{ grid-area: 2 / 4 / 3 / 6; }
  .R3{ grid-area: 3 / 3 / 4 / 6; }
  .R4{ grid-area: 4 / 4 / 5 / 6; }
  .R5{ grid-area: 5 / 3 / 6 / 6; }
  .contact h6 {
    width: 60%;
    margin: 40px auto;
    font-size: 1.5em;
  }
}
